@{}

@model List<NewApp1.Models.Entities.Department>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Departments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>All Departments</h1>
        <a href="@Url.Action("getdepartmentdata", "Department")" class="btn btn-success">Create New Department</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Department ID</th>
                    <th>Department Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Departmentvar in Model)
                {
                    <tr>
                        <td>@Departmentvar.DepartmentID</td>
                        <td>@Departmentvar.DepartmentName </td>
                        <td>
                            <a href="@Url.Action("Edit", "Department", new { id = Departmentvar.DepartmentID })" class="btn btn-primary btn-sm">Edit</a>
                            <a href="@Url.Action("Delete", "Department", new { id = Departmentvar.DepartmentID })" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
